$accent-font: 'Special Elite', cursive;
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Quattrocento', serif;

$title-family: $accent-font;
$subtitle-family: $accent-font;
$subtitle-weight: 600;

$primary-pink: #ea4c89;
