@import '../styles/styles.scss';

.container {
  flex: 1;
  color: $black;
  font-family: $secondary-font;
  margin-top: 2em;
  text-align: left;

  @media (max-width: 1023px) {
    margin: 0.5em;
  }
}
