@import '../styles/mystyles.scss';

.link {
  color: $white !important;
  font-family: $primary-font;
}

@media screen and (max-width: 1023px) {
  .link {
    color: $black !important;
  }

  .menu {
    background-color: $grey-darker;
  }
}
